/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif; 
    background-color: white; 
    color: black; 
    padding: 20px; 
}


nav {
    background-color: black;
    text-align: center;
    padding: 10px; 
}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
}

